:root {
  --primary-color: #c72712;
  --secondary-color: #e2e614;
  --tertiary-color: #8936af;
  --quaternary-color: #c0c0c0;
  --quinary-color: #4815a7;
  --senary-color: #649c5d;
}

/* imports a font from google fonts API */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
a, a:visited {
  text-decoration: none;  
}

body { 
  color: var(--quinary-color);
  font-family: 'Lato', sans-serif;
  background: url(../images/green-repeating-612x612.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: flex;
  width: 100%;
  padding: 2em 0.5em;
  background-color: var(--quaternary-color);
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: var(--tertiary-color);
  margin: 0;
  padding-left: 0.5em;
  font-style: italic;
  filter:drop-shadow(0.3em 0.3em 0.3em var(--secondary-color));
}

/*start of nav */
.nav {
  display: flex;
  flex-flow: wrap;
  padding-left: 3em;
}

.nav div {
  padding: 1em;
}

.nav div :hover {
  background-color: var(--senary-color);  
  filter:drop-shadow(0.3em 0.3em 0.3em var(--primary-color));
}
/* end of nav */

h2 {
  color: var(--tertiary-color);
  font-weight: bolder;
  text-shadow: 1px 1px var(--secondary-color);
  padding: 0.3em;
  border-radius: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

article {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

/* end of about me */
.sectionTitles {
  width: 25%;
  padding: 6em 0.5em;
  border-right: 0.2em solid var(--quinary-color); 
}

.panelCard {
  background-color: var(--quaternary-color);
  line-height: 2em;
  font-size: 1em;
  margin: 4em 2em 1em 2em;  
  padding: 1.3em;
  border: solid 0.3em var(--quinary-color); 
  border-radius: 15px;
  filter:drop-shadow(0.3em 0.3em 0.3em var(--primary-color));
  width: 70%;
}

article div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  color: var(--quinary-color);
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-style: italic;
  font-size: 2em;
  text-shadow: 1px 1px var(--secondary-color);
  margin-top: 4em;
  margin-left: 4em;
  line-height: 2em;
}

#imageArticle {
  justify-content: flex-start;
}

#steveImage {
  background-image: url(../images/steve-image.png);
  background-repeat: no-repeat;
  background-position-x: center;
  width: 162px;
  margin: 5em 5em;
  padding: 0;
  border: solid 0.3em var(--quinary-color);
  height: 227px;
  border-radius: 15px;  
  filter:drop-shadow(0.3em 0.3em 0.3em var(--primary-color)); 
}
/* end of about me */

/* start of projects */
.panelCard {
  display: flex;
  flex-direction: row;
}

.projectNames img { 
  margin-top: 2em;
  margin-right: 2em;
  border-radius: 10px;
  border: solid 0.2em var(--quinary-color);
  opacity: 70%;
}

.projectNames a :hover { 
  opacity: 100%;
}


.headings {
  background-color: var(--quaternary-color);
  border: solid 0.17em var(--quinary-color);
  border-radius: 8px;
  height: 5em;
  width: 13em;
  bottom: 7em;
  left: 2em;
  position: relative;
}

.headings h4 {
  bottom: 4.5em; 
  z-index: 999;
  font-size: 0.8em;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headings h3 {
  bottom: 3.5em;
  right: 2em;
  font-size: 1em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1000;
  position: relative;
} 
/* start of projects */

/* start of contact me */
#contactTypes {
  display: flex;
  flex-wrap: wrap;
  width: 60%
}

 /* #contactMeDiv {
  border-right: 0.2em solid var(--quinary-color); 
  padding-top: 6em;
  padding-left: 5em;
  padding-right: 5em;
}  */

.contactLink {
  font-size: 0.75em; 
  padding: 7.5em 2em 7em 2em;
  margin-top: 0.8em;
}

.contactLink :hover {
  background-color: var(--quaternary-color); 
  border-radius: 8px; 
  filter:drop-shadow(0.3em 0.3em 0.3em var(--primary-color));
}  
/* end of contact me */

/* start of contact me icons */
#cellPhoneIcon {
  background-image: url("../images/cell-phone-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-left: 1em;
  margin-left: 2em;  
}

 #emailIcon {
  background-image: url("../images/email-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-left: 1.5em;
  margin-left: 2em;  
}

#gitHubIcon {
  background-image: url("../images/git-hub-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-left: 2.5em;
  margin-left: 2em;  
}

#linkedInIcon {
  background-image: url("../images/linked-in-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-left: 1.4em;
  margin-left: 2em;  
} 
/* end of contact me icons */
  
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  /* header text a new color for every breakpoint
  reduce font size - em
  changing widths
  */ 
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .contactLink {
    font-size: 0.5em; 
    /* padding: 7.5em 2em 7em 2em;
    margin-top: 0.8em; */
  } 

  /* #contactMeDiv {
    width: 15%;
  }*/   

  #contactTypes {
    flex-direction: column;
  } 

  .sectionTitles {
    width: 23%;
    font-size: 0.75em;
  }

  .panelCard {
    width: 65%;
  }

  .projectNames img {
    max-width: 100%;
  } 

} 
  
  
  
  
  
  